<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-08</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-08</string>
			</dict>
			<key>AppIcon-09</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-09</string>
			</dict>
			<key>AppIcon-Crystal</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Crystal</string>
			</dict>
			<key>AppIcon-Gold</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Gold</string>
			</dict>
			<key>AppIcon-Ivory</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Ivory</string>
			</dict>
			<key>AppIcon-Landscape</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Landscape</string>
			</dict>
			<key>AppIcon-Neon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Neon</string>
			</dict>
			<key>AppIcon-Washi</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Washi</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
